<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div>
      
     
    </div>
    <br>
    <div class="container">
    
    <h2>Delete Songs Page</h2>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Album</th>
             
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% result.forEach((e )=> { %> 
                    
                    <tr>
                        <% e.songs.forEach((el,index) => { %>
                            <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><img src="<%= el.image %>" height="100px" width="100px" /></td>
                            <td><%= el.name %></td>
                            <td><%= el.album %></td>
                            <td><a href="/song/delete/<%= el.id %>" type="button"  onclick="deleteAlert(`<%= el.name %>`)" class="btn btn-outline-primary">Delete</a>

                              </td>
                            <%  }) %>
                    

                   
                    <!-- <td><%= e.age %></td>
                    <td><%= e.city %></td> -->
                    
                    
                    <%  })  %> 
                    
                </tr>
            </tbody>
          </table>
      </div>

      <script>
        function deleteAlert(name) {
          alert(`"${name}" has been deleted`);
        }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>