<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <%- include('../navbar.ejs') %>

    <h2>Artist Page</h2>
    <div>
        <a href="/artist/create" type="button" class="btn btn-primary btn-lg">Add New Artist<a></a>
        <a href="/song" type="button" class="btn btn-primary btn-lg">Song Page<a></a>
    </div>
    <br>
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Genre</th>
             
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% artists.forEach((e,index )=> { %> 
                    <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <% if(e.image === null || e.image === "" ) { %>
                        <td>no image</td>
                        <% } else { %>
                        <td><img src="<%= e.image %>" height="100px" width="100px" /></td>
                        <% } %> 
                    <td><%= e.name %></td>
                    <td><%= e.genre %></td>
                 
                   
                    <!-- <td><%= e.age %></td>
                    <td><%= e.city %></td> -->
                    
                    <td><a href="/artist/delete/<%= e.id %>" type="button"  onclick="deleteAlert(`<%= e.name %>`)" class="btn btn-outline-primary">Delete</a>
                    <a href="/artist/update/<%= e.id %>" type="button" class="btn btn-outline-primary">Update</a>
                  </td>
                    <%  })  %> 
                    
                </tr>
            </tbody>
          </table>
      </div>

      <script>
        function deleteAlert(name) {
          alert(`"${name}" has been deleted`);
        }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>